/*=============== WORK ===============*/
.work {
  &__container {
    row-gap: 2rem;
  }
  &__description {
    margin-bottom: var(--mb-2);
    ul {
      background: rgb(71, 71, 71);
      border-radius: 0.5rem;
      padding: 1.5rem;
      li {
        padding-bottom: 1rem;
        font-size: var(--normal-font-size);
      }
    }
  }
}
